__pycache__/
*.pyc
*.pyo
*.egg-info/

examples/**/restart.pkl
examples/**/restart.xyz
examples/**/*_simulation.log
examples/**/*_trajectory.xyz
examples/mbx_examples_python_rerun_summary_mbx_test.txt
examples/**/mbx.json

MBX/bin/
MBX/include/
MBX/share/
MBX/lib/*.a
MBX/lib/*.la
MBX/lib/pkgconfig/
